@import url('/elements/fonts/victor_moscoso/VICTM___.TTF');

@font-face {
    font-family:
    url('/elements/fonts/victor_moscoso/VICTM___.TTF');
}

@media (max-width: 40em) {
    font-size: 1.5em;
    }
  }


.site-nav, .desktop {
    display: flex;
}

.site-nav span, .mobile-nav span {
    display: block;
    position: relative;
    font-family: "HelveticaNeueLTPro-It",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 4.37em;
    line-height: 1.28em;
}

.site-nav, .mobile-nav {
    padding: .625em 1.25em 1.25em 1.25em;
    height: 7.5em;
    overflow: visible;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    box-sizing: border-box;
}


.projects-grid p {
    margin: 0 0 1.42857em 0;
    vertical-align: top;
    letter-spacing: .04em;
    font-size: 4.375em;
    line-height: 1.28571em;
    text-align: center;
}

html {
    font-size: 1em;
    line-height: 1.4;
}


.site-nav span, .mobile-nav span {
    font-size: 4.375em;
}


.site-nav, .mobile-nav {
    height: 7.5em;
    padding: .625em 2.5em 1.25em 2.5em;
    letter-spacing: .04em;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    box-sizing: border-box;
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.site-nav, .mobile-nav {
    height:6em;
}

.site-nav span .hide .mobile-nav span .hide {
    display: none;
    position: absolute;
    z-index: 2;
    top: 0;
    font-family: "HelveticaNeueLTPro-Roman",sans-serif;
    font-style: normal ;
    font-weight: 400;
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.site-nav span a .mobile-nav span a {
    color: #000;
    text-decoration: none;
    padding-bottom: 5px;
    border-color: #fff;
    moz-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    -webkit-transition: all .4s ease-out;
    transition: all .4s ease-out;
}

a a:hover a:visited a:focus {
    outline: 0;
}

a:-webkit-any-link {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.homepage .homepage-content .text-container:first-child {
    margin-top: 0;
}

.homepage .homepage-content .text-container {
    margin: .625em 0;
}

div {
    display: block;
}

.homepage {
    height: 100%;
    min-height: 100vh;
    text-align: center;
    letter-spacing: .04em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4.375em;
    line-height: 1.28571em;
}

.homepage .homepage-content a, .homepage .homepage-content span {
    position: relative;
    z-index: 10;
    vertical-align: top;
}


.homepage .homepage-content .image-fader {
    top: 0%;
    height: 100%;
}

.homepage .homepage-content .image-fader {
    position: absolute;
    top: -25%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: no-repeat transparent 50% 50%;
    background-size: contain;
    opacity: 0;
}

.homepage a {
    color: #000;
    border-bottom: 2px solid transparent;
    text-decoration: none;
}

.homepage a:hover {
    border-bottom: 4px solid #000;
}

html, body {
    font-size: 16px;
    font-family: "HelveticaNeueLTPro-Roman",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.4;
}

body {
    display: block;
    margin: 8px;
    margin-top: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
}

html, button, input, .select, .textarea {
    color: #222;
}

.page-section--homepage .page-section--homepage .section-content {
    height: 100%;
    margin-top: 10em;
    min-height: 100vh;
}

.section-content--homepage {
    height: 100%;
}

.section-content {
    width: auto;
    padding: 5 2.5em 5 2.5em;
}

.projects-grid {
    overflow: hidden;
    margin-top: 9.375em;
}

.page-section-homepage {
    height: 100%;
}

.homepage .homepage-content {
    position: relative;
    margin-top: 90px;
}

.homepage .homepage-content .text-container:first-child {
    margin-top: 0;
}

.homepage .homepage-content .text-container {
    margin: .625em 0;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

.content-rows a {
    color: #000;
}

.content-rows {
    max-width: 120em;
    margin: 0 auto 8.4375em auto;
}

.content-rows.with-padding {
    margin-top: 8.4375em;
}

.content-rows p {
    margin: 0 0 1.42857em 0;
    letter-spacing: .04em;
    font-size: 4.375em;
    line-height: 1.28571em;
}

.projects-grid .project:nth-child(odd) {
    margin-right: 8%;
}

.projects-grid .project {
    width: 46%;
    float: left;
    margin-bottom: 3.125em;
}

.projects-grid a {
    color: #000;
}

.projects-grid .project .image {
    position: relative;
    width: 100%;
    padding-bottom: 75%;
    height: 0;
    max-height: 100%;
    overflow: hidden;
}

.projects-grid .project img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: auto;
}

.projects-grid .project .image .hover {
    opacity: 0;
    background: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
}

audio, canvas, img, video {
    vertical-align: middle;
}

p pre {
    margin: 1em 0;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.sticknpoke {
    width: 1000px;
    opacity: 1;
}

.hide {
    opacity: 0;
}

img {
    transition: all 1s;
    width: 600px;
    flex-wrap: wrap;
}

.film {
    width: 200px;
}


.splash {
    font: '/elements/fonts/victor_moscoso/VICTM___.TTF';
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    z-index: 200;
    color: white;
    text-align: center;
    line-height: 90vh;
}

.splash a {
    filter: invert(1);
}

.splash.display-none {
    position: fixed;
    opacity: 0;
    top:0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: black;
    z-index: -10;
    color: white;
    text-align: center;
    line-height: 90vh;
    transition: all 0.5s;  
}

@keyframes fadeIn{
    to{
        opacity: 1;
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}